
*{
    box-sizing:border-box;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: azure;
}
.joke-container{
    width:45%;
    background-color: aquamarine;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -40%);
    text-align:center;
    padding:10px;
    border-radius:5px;
    box-shadow: 3px 3px 45px cadetblue;
}
.joke-container span{
    color:yellow;
    font-size:45px;
}
#joke-pra{
    font-size: 1.2rem;
    padding:10px 2px;
    word-wrap:break-word;
    line-height:1.6rem;
}
#joke-btn{
    border:none;
    outline:none;
    background-image:linear-gradient(rgb(179, 116, 255), yellow);
    padding:5px 16px;
    border-radius: 8px;
    margin:15px 0 13px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: fantasy;
}
